services:

  postgres:
    image: postgres:18
    container_name: banco-postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: mudar123
      POSTGRES_DB: postgres
    ports:
      - 5432:5432
    volumes:
      - postgres_data:/var/lib/postgresql/18/main


  pgadmin-4:
    image: dpage/pgadmin4
    container_name: pgadmin-4
    environment:
      PGADMIN_DEFAULT_EMAIL: "pgadmin@gmail.com"
      PGADMIN_DEFAULT_PASSWORD: "mudar123"
    ports:
      - 16543:80
    depends_on:
      - postgres

volumes: 
  postgres_data:
